In [14]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [15]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [16]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
# Fill missing values
train_df['Age'].fillna(train_df['Age'].median(), inplace=True)
test_df['Age'].fillna(train_df['Age'].median(), inplace=True)
train_df['Fare'].fillna(train_df['Fare'].median(), inplace=True)
test_df['Fare'].fillna(train_df['Fare'].median(), inplace=True)
train_df['Embarked'].fillna(train_df['Embarked'].mode()[0], inplace=True)
test_df['Embarked'].fillna(train_df['Embarked'].mode()[0], inplace=True)

In [18]:
# Encode categorical variables
train_df['Sex'] = pd.get_dummies(train_df['Sex'], drop_first=True)
test_df['Sex'] = pd.get_dummies(test_df['Sex'], drop_first=True)
train_df = pd.get_dummies(train_df, columns=['Embarked'])
test_df = pd.get_dummies(test_df, columns=['Embarked'])

In [19]:
# Select features and target variable
features = ['Pclass', 'Sex', 'Age', 'Fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'SibSp', 'Parch']
X_train = train_df[features]
y_train = train_df['Survived']

# Create the random forest classifier with 100 trees
rf_clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the data
rf_clf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [20]:
# Perform 5-fold cross-validation on the model
scores = cross_val_score(rf_clf, X_train, y_train, cv=5)
print('Accuracy:', np.mean(scores))

Accuracy: 0.8148452702278577

In [32]:
# Select features for test data
X_test = test_df[features]

# Make predictions on the test data
y_pred = rf_clf.predict(X_test)

# Create the submission file
submission = pd.DataFrame({'PassengerId': test_df['PassengerId']}) # Added closing parenthesis and quotation mark

# Save the results as a CSV file
results.to_csv('titanic_predictions.csv', index=False)